.Mhead {
  /* top 위치에서 언제나 고정*/
  z-index: 2000;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.Mbody {
  width: 120rem;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f5f6fa;
}
